<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2591164d52.js"></script>

    <title>WER</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body>
<header>
    <div class="top-header container">
        <div class="logo">
            <img src="images/WE'R.png" alt="Logo de We'R">
        </div>
        <div class="topnav">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="enlaces">
            <li><a href="#">Login</a></li>
            <li><a href="#"><i class="fa-solid fa-basket-shopping"></i></a></li>
        </div>
    </div>
    <nav class="menuCSS3">
		<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Categorias</a>
				<ul>
					<li><a href="#">Zapatillas</a></li>
					<li><a href="#">Pantalones</a></li>
					<li><a href="#">Medias</a></li>
					<li><a href="#">Remeras</a></li>
				</ul>
			</li>
            <li><a href="#">Hombres</a>
				<ul>
					<li><a href="#">Zapatillas</a></li>
					<li><a href="#">Pantalones</a></li>
					<li><a href="#">Medias</a></li>
					<li><a href="#">Remeras</a></li>
				</ul>
			</li>
            <li><a href="#">Mujeres</a>
				<ul>
					<li><a href="#">Zapatillas</a></li>
					<li><a href="#">Pantalones</a></li>
					<li><a href="#">Medias</a></li>
					<li><a href="#">Remeras</a></li>
				</ul>
			</li>
            <li><a href="#">Promociones</a>
				<ul>
					<li><a href="#">Zapatillas</a></li>
					<li><a href="#">Pantalones</a></li>
					<li><a href="#">Medias</a></li>
					<li><a href="#">Remeras</a></li>
				</ul>
			</li>
			<li><a href="#">Contacto</a>
				<ul>
					<li><a href="#">Email</a></li>
					<li><a href="#">Mapa</a></li>
				</ul>

			</li>
		</ul>
	</nav>
    <div class="slider-frame">
        <ul>
            <li><img src="images/slider1.jpg" alt=""></li>
            <li><img src="images/slider2.jpg" alt=""></li>
            <li><img src="images/slider3.jpg" alt=""></li>
            <li><img src="images/slider4.jpg" alt=""></li>
        </ul>
    </div>
    </section>     
</header>
<body>
    <main>
    <section class="last-visit">
        <div class="products">
            <article>
                <img src="images/producto1.png" alt=" " class="product_img">
                <div class="main-article">
                    <p class="price">$10.000</p>
                    <p class="discount">40% off</p>
                    <h4 class="description">Producto1</h4>
                </div>
            </article>
            <article>
                <img src="images/producto2.png" alt="MacBook" class="product_img">
                <div class="main-article">
                    <p class="price">$10.000</p>
                    <p class="discount">20% off</p>
                    <h4 class="description">Producto2</h4>
                </div>
            </article>
            <article>
                <img src="images/producto3.png" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="main-article">
                    <p class="price">$10.0000</p>
                    <p class="discount">10% off</p>
                    <h4 class="description">Producto3</h4>
                </div>
            </article>
            <article>
                <img src="images/producto4.png" alt="SmartTv Samsung" class="product_img">
                <div class="main-article">
                    <p class="price">$10.000</p>
                    <p class="discount">5% off</p>
                    <h4 class="description">Producto4</h4>
                </div>
            </article>
        </div>
        
    </section>
    </main>
    <footer>
        <div class="footer-container">
            AQUI VA EL FOOTER
        </div>
    </footer>
</body>
</html>