<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2591164d52.js"></script>

    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body class="login-page">
<div class="login-container">
    <div class="logo">
        <img src="images/WE'R.png" alt="Logo de We'R">
    </div>
    <div class="login-top-container">
        <h4>Sing In</h4>
            <input type="email" autocomplete="off" id="email" placeholder="email">
            <input type="password" autocomplete="off" id="password" placeholder="password">
            <p>Si no tienes cuenta<a href="/views/register.html"> Haz click aqui</a> y registrate</p>
            <button class="submit-btn">Ingresar</button>
            <h4>¿Olvidaste tu contraseña?</h4><a href="#">Haz click aqui</a>
    </div>
    <div class="login-bottom-container">
        <h4>O ingresa con tus redes</h4>
        <div class="login-bottom-container-links">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-google"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </div>
    </div>
</div>
</body>
</html>