<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2591164d52.js"></script>

    <title>Register</title>
    <link rel="stylesheet" href="css/styles.css"> 
</head>
<body class="register-page">
<div class="register-container">
    <div class="logo">
        <img src="images/WE'R.png" alt="Logo de We'R">
    </div>
    <div class="register-top-container">
        <h4>Creá tu cuenta</h4>
            <input type="text" autocomplete="off" id="nombre" placeholder="Nombre">
            <input type="text" autocomplete="off" id="apellido" placeholder="Apellido">
            <input type="email" autocomplete="off" id="email" placeholder="E-mail">
            <input type="text" autocomplete="off" id="direccion" placeholder="Direccion (Calle, Numero)">
            <input type="ciudad" autocomplete="off" id="ciudad" placeholder="Ciudad">
            <input type="password" autocomplete="off" id="password" placeholder="Contraseña">
            <input type="password2" autocomplete="off" id="password2" placeholder="Confirmar Contraseña">
            <input type="checkbox" id="cbox1" value="first_checkbox"><p>Acepto los<p><a href="#">Términos y Condiciones</a>
            <button class="submit-btn">Registrarse</button>
    </div>
    <div class="register-bottom-container">
        <p>Si ya tienes cuenta<a href="/login"> Haz click aqui</a></p>
        <h4>O ingresa con tus redes</h4>
        <div class="register-bottom-container-links">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-google"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
    </div>
    </div>
</div>
</body>
</html>