*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --colorfondo: #141e18;
    --colorheadear: #0d5278;
    --colorresalte1: #08bcff;
    --colorresalte2: #0ffff7;
    --paddingsecciones:60px 0;
    --marginelementos:40px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones); 
    justify-content: space-between;
}

/*Menu*/

.top-header{
    padding: 0;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 140px;
    background-image: url(/images/fondologin.png)
}

.logo{
    height: 140px;
    position: relative;
    left: 20px
}

.logo img{
    display: block;
    height: 100%;
}
.enlaces{
    position: relative;
    right: 20px;
}
.enlaces li{
    list-style: none;
    display: inline-block;
}

.enlaces a{
    text-decoration: none;
    color: whitesmoke;
    padding-left: 10px;
}

/* Hero */

.hero{
    height: 300px;
    background-image: url("/images/hero.png");
    background-position: center;
    background-size: cover;

}

.text-container{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: 36px;
    font-weight: 700; 
    color: #ebebeb;
}

.hero p{
    font-size: 20px;
    font-weight: 400;
    color: #ebebeb;
}
/* Search-Bar*/
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    position: relative;
    left: 0%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav input[type=text] {
    width: 100%;
    float: right;
    padding: 0px;
    border: none;
    margin-top: 0px;
    margin-right: 0px;
    font-size: 17px;
    width: 500px;
    height: 30px;
  }

/* Menu Desplegable */

.menu-desplegable ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.menu-desplegable li {
    display:  inline-block;
    width:25%;  
}

.menu-desplegable a {
    display: block;
    padding: 2em;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}
.menu-desplegable a:hover {
    background-color: #CC673B;
    z-index: 2;
}
.menu-desplegable ul li ul {
    display: none;
}

.menu-desplegable ul li a:hover + ul, .menu-desplegable ul li ul:hover {
    display: flex ;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    
}

/* Slider */

.slider-frame {
    width: 100%;
    height: 400px;
    margin: 0px auto 0;
    overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
    
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/* Main */

.last-visit{
    display: flex;
    flex-wrap: nowrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/* Footer */

.footer-container{
    height: 300px;
    background-color: grey;
}

/*Login* y Register*/

.login-page{
    background-image: url(/images/fondologin.png);
    display: flex;
    width: 95%;
    text-align: center;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    
}

.login-top-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-top-container h4 {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.login-container p{
    color: white;   
    font-size: 12 px;    
    font-weight: bold;
}

.login-container a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.login-top-container input{
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    text-transform: capitalize;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba (0, 0, 0, 0.01);
}

.submit-btn{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}

.login-bottom-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.login-bottom-container h4{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-bottom-container-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-bottom-container-links i{
    font-size: 35px;
}

/*Register*/

.register-page{
    background-image: url(/images/fondologin.png);
    display: flex;
    width: 95%;
    text-align: center;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    
}

.register-top-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.register-top-container h4 {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.register-container p{
    color: white;   
    font-size: 12 px;    
    font-weight: bold;
}

.register-container a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.register-top-container input{
    display: block;
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
    text-transform: capitalize;
    color: #383838;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba (0, 0, 0, 0.01);
}

.submit-btn{
    width: 300px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #383838;
    color: #fff;
    border-radius: 2px;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    display: block;
    margin: 30px 0;
}

.register-bottom-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.register-bottom-container h4{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.register-bottom-container-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-bottom-container-links i{
    font-size: 35px;
}


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    main section article i {
        transition: transform 0.5s;
    }

    article:hover i {
        transform: rotate (-90deg);
    }
}